/* Position and sizing of burger button */
.bm-burger-button {
    background-color: #00b0cf;
    border: 15px solid transparent;
    border-radius: 50%;
    position: fixed;
    width: 30px;
    height: 25px;
    left: 30px;
    top: 15px;
}

.bm-burger-button::after {
    content: 'MENU';
    font-size: 22px;
    margin-left: 60px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #1b4769;
    height: 10% !important;
    transition: all .5s;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #d7c378;
    transition: all .5s;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #008bbc;
    height: 20px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #1b4769;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    overflow: unset !important;
    width: 100% !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #1b4769;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    border-bottom: 2px solid #00b0cf;
    color: #00b0cf;
    font-weight: 500;
    display: inline-block;
    padding: .8em 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s all;
    width: 100%;
}

.bm-item:hover {
    color: #d7c378;
    border-bottom: 2px solid #d7c378;
    transition: .5s all !important;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}